
body{
    font-family: 'Red Rose', cursive;
}
.hero_image{
    background:url(images/heroimage.jpg) no-repeat;
    height: 100vh;
    background-size:cover;
    -webkit-background-size:cover;
    position: relative;
}
.hero_wrapper{
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.hero_wrapper h1{
    text-align: center;
    font-size: 2.5rem;
}
.hero_wrapper p{
    text-align: justify;
}
.form_code{
    text-align: center;
}
.hero_wrapper span{
    display: inline-block;
    margin: 0 0 1.5rem 2rem;
}
.form_code .post_code{
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2rem;
    padding: .6rem;
    border: none;
    outline: none;
}
.form_code .post_code::placeholder{
    text-align: center;
}
.form_code button{
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    background-color: #00BAB1;
    border: none;
    border-radius: .4rem;
    padding: .4rem;
    margin: .9rem auto;
    color: #ffffff;
}
/*product section*/
.product{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.product_list_item{
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-top: 1.3rem;
}
.product_list_item img{
    max-width: 100%;
}
.product_list_item p{
    text-align: justify;
}
#img{
    width: 380px;
    height: 283px;
}
@media screen and (max-width :700px){
   .product_list_item{
       width: 100%;
   }
}